* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*background image*/
  background-image: url('./assets/background.jpg');
  color: black;
  font-size: larger;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0px, calc(50vh - 75px)) minmax(calc(50vh - 75px), 1fr) 50px;
  grid-gap: 50px;
}

/*search button styling-foundation framework*/
.input {
  
  block-size: 30px;
  inline-size: 500px;
}

/*  rounded buttons on both corners-foundation framework */
.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

/*header styling*/
h1 {

  text-shadow: 0px 0px 5px #c9d393, 0px 0px 10px #c9d393, 0px 0px 10px #c9d393,
    0px 0px 20px #c3d393;

}

h1,
h2 {
  justify-content: center;
  color: white;
}

h2 {
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    padding-bottom: 15px;
}

header,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  justify-content: flex-end;
}

/*placeholder image styling*/
img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
margin-bottom: 10px;
  visibility:hidden;
}

/*results card*/
.card {
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border-color: black;
  color: azure;
  background-color: rgba(98, 93, 96, 0.5);
}
.card:hover{

  border-color: #93d3af;
}
.card:active
{
  border-color: yellow;
}
/*heart add button*/
.addBtn .heart{
  position:relative;
  font-size: 3rem;
  cursor: pointer;
}
.addBtn .heart:hover {
  color: grey;
}
.addBtn .heart:focus{
  color: red;
  
}
.addBtn .heart::selection{
  color: red;
}
/*diary display card styling */
.diary{
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border-color: black;
  color: azure;
  background-color: rgba(98, 93, 96, 0.5);
}

#diary{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  border: 2px solid;
  border-radius: 15px;
  padding: 5px;
 
}
.log-container{
  margin-left: 15px;
  border: 2px transparent;
  border-radius: 20px;
  padding: 3px;
  background-color: rgba(98, 93, 96, 0.5);
 
}
/*reset button styling */
#reset-button{
  color: white;
  border: 3px solid;
  border-radius: 20px;
  width: 40%;
}
#reset-button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}
/*remove button styling*/
.remove{
  color: white;
  border: 3px solid;
  border-radius: 40px;
  width: 40%;
}
.remove:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}


